body,html{
    background-color: rgb(51, 47, 58);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;



}
h1{
    text-align: center;
    color:white;
    font-family: 'Rubik Beastly', cursive;
    font-weight: 300;
    letter-spacing: .3rem;

}

.nav-item:hover {
    -webkit-animation:spin 3s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    -moz-animation:spin 3s cubic-bezier(0.075, 0.82, 0.165, 1)  ;
    animation:spin 3s cubic-bezier(0.075, 0.82, 0.165, 1)  ;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(180deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(180deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(180deg); 
        transform:rotate(180deg); 
    } 
}