body,html{
    background-color: rgb(51, 47, 58);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;



}
h1{
    text-align: center;
    color:white;
    font-family: 'Rubik Beastly', cursive;
    font-weight: 300;
    letter-spacing: .3rem;

}